*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    /* width:100%; */
    margin:0px auto;
    max-width: 100%;
    overflow-x: hidden;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(172, 17, 147, 0.831);
    color:white;
    padding:10px;
    position: fixed;
    top: 0px;
    /* margin-bottom: 50px !important; */
    width: 100%;
    /* z-index: 1; */

}
#header >.header-links{
    overflow: visible;
}

.header-links>a{
    color: white;
    font-size:20px;
    text-decoration: none;
    padding:8px;
}
.header-icons>i{
    padding:10px;
}
.announcement{
    margin-top: 150px;
}
.announcement>p{
    text-align: center;
    padding:10px;
}
.sub-heading{
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
    padding:50px;
    
}
/* body > .scroll-image > marquee > img{
    z-index: -50 !important;
} */
.dresses{
    display: flex;
    gap:10px;
    padding:0px 120px;
} 
.d1>p,.d2>p,.d3>p,.d4>p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 20px;
}
.d1>img:hover{
    content: url(https://instore.co.in/cdn/shop/files/image00030_3.jpg?v=1730724090&width=1000);
}
.d2>img:hover{
    content: url(https://instore.co.in/cdn/shop/files/image00036_2.jpg?v=1730724148&width=1000);
}
.d3>img:hover{
    content: url(https://instore.co.in/cdn/shop/files/image00042_2_c6bbcb82-a5de-4fe3-9b26-bbaef705fe39.jpg?v=1730724536&width=1000);
}
.d4>img:hover{
    content: url(https://instore.co.in/cdn/shop/files/image00048_1.jpg?v=1730724624&width=1000);
}


.collections{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    justify-content: center;
    align-items: center;
    padding:80px;
}
.shop > img{
    border-radius: 50%;
    width:200px;
    box-shadow: 3px 3px 3px lightgrey;

}

.shop>p{
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.heart1{
    position: relative;
    bottom:400px;
    color:white;
    left:10px;
    font-size: 20px;
    font-weight: bold;
}
.new{
    position: relative;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: lightgray;
    width:50px;
    padding:5px;
    bottom:40px;
    right:10px;
}
.stores{
    display: flex;
    width:100%;
    justify-content: space-evenly;
    gap:10px;


}
.stores>div{
    width:20%;
}
.stores > div> img{
    width:270px;
}
.stores > div >.map{
    background-color:rgb(202, 26, 134);
    padding:15px 30px;
    width:100px;
}
.store1>p,.store2>p,.store3>p,.store4>p{
    margin-top:5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer{

    display: flex;
    justify-content: space-evenly;
    height:300px;
    color:white;
    background-color: rgba(172, 17, 147, 0.831);

    padding:10px;
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
.footer>.div1 >p,.footer>.div2 >p{
    padding:8px 0px;
}
.footer>.div3>a{
    display: flex;
    flex-direction: column; 
    text-decoration: none;
    padding:5px 0px;
    color:white;
}
.footer > .div4{
    font-size: 30px;
    padding:40px 0px;
    text-transform: uppercase;
}
.footer>.div4>i{
    padding:10px 10px;
    margin-top:10px;
    background-color: white;
    border-radius: 50%;
    color: rgba(172, 17, 147, 0.831);

}
.stores>.store1>p>i,.stores>.store2>p>i,.stores>.store3>p>i,.stores>.store4>p>i{
    overflow: visible;
}
@media screen and (max-width:400px){
    *{
        overflow: visible;
    }
    .logo{
        width:80px;
    }
   
    .input-checkbox-toggler{
        display: none;
    }
    .ham-icon{
        display: block;
    }
    .ham-icon:hover{
        cursor: pointer;
    }
    #header{
        display: flex;
        width:100%;
        
    }
   
    .header-links{
        /* z-index: 1 !important; */
        position: absolute;
        display: none;
        gap: 10px;
        align-items: center;
        top: 70px;
        left: 0px;
        width: 100%;
    }
    .input-checkbox-toggler:checked ~ .header-links{
        display: flex;
        gap: 10px;
        flex-direction: column;
        z-index: 1000 !important;
        background-color: rgba(172, 17, 147, 0.831);

        color: white;
    }
    marquee {
        display: none;
    }
   
    body {
        font-family: Arial, sans-serif;
        overflow-x: hidden; /* Prevent horizontal scrolling */
      }
    .announcement{
        margin-top: 70px;
    }
   
    
    .scroll-image{
        margin-top: 50px;

    }
    .scroll-image>marquee>img{
        width:300px;
        height: 200px;
    }
    .sub-heading{
        font-size:30px;
        font-family: 'Times New Roman', Times, serif;
    }

    .dresses{
        display: flex;
        padding: 0px;
        margin: 0px;
        flex-wrap: wrap;
       

    }
    .dresses>.d2>img,.dresses>.d3>img,.dresses>.d4>img,.dresses>.d1>img{
        width:250px;
       
    }
   
    .heart1{
     display: none;
    }
    .new{
        right:190px;
        display: none;
       
    }
    .d1>p,.d2>p,.d3>p,.d4>p{
        font-size: 15px;

    }

    .collections{
        width: 100%;
        padding: 0px;
        margin: 0px;
        
    }
    .collections > .shop{
        width: 50%;
        /* padding: 0px; */

    }
    .collections > .shop>img{
        width:170px;
        align-items: center;
        justify-content: center;
    }
    .collections>.shop>p{
        font-size: 15px;
    }
    .stores{
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .stores > .store1,.stores > .store2,.stores > .store3,.stores > .store4{
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        width:100%;

    }
    .stores > .store1>span,.stores > .store2>span,.stores > .store3>span,.stores > .store4>span{
        font-weight: bold;
        padding-top: 5px;
    }
    .stores > .store1>p,.stores > .store2>p,.stores > .store3>p,.stores > .store4>p{
        text-align: center;
        font-size: 15px;
        width:50%;
        /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    }

    .footer{
        /* width:100%; */
        height: auto;

    }
    .footer{
        display: flex;
        flex-direction: column;
        /* width:40%; */
        text-align: center;
    }
    

}






@media (min-width:401px) and (max-width:768px){
   
    
    *{
        overflow: visible;
    }
    .logo{
        width:85px;
    }
   
    .input-checkbox-toggler{
        display: none;
    }
    .ham-icon{
        display: block;
    }
    .ham-icon:hover{
        cursor: pointer;
    }
    #header{
        display: flex;
        width:100%;
        /* position: relative;
        padding: 10px; */
    }
   
    .header-links{
        position: absolute;
        display: none;
        gap: 10px;
        align-items: center;
        top: 70px;
        left: 0px;
        width: 100%;
    }
    .input-checkbox-toggler:checked ~ .header-links{
        display: flex;
        gap: 10px;
        flex-direction: column;
        z-index: 1000 !important;
        background-color: rgba(172, 17, 147, 0.831);

        color: white;
    }
    
    
    .announcement{
        margin-top: 100px;
        font-size: 20px;
    }
    .sub-heading{
        font-size: 40px;
    }
    .dresses{
        width:100%;
        padding:0px;
        
    }
    .stores{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width:100%;
        height: auto;
        justify-content: center;
        align-content: center;
        align-items: center;
        
    }
    .stores>.store1>img,.stores>.store2>img,.stores>.store3>img,.stores>.store4>img{
        width:100%;
        height: 50%;
        /* justify-content: center;
        align-items: center; */
    }

    .stores>.store1,.stores>.store2,.stores>.store3,.stores>.store4{
        width:100%;
        height: auto;
        padding:20px;
      
       
    }
    
    .store1>span,.store2>span,.store3>span,.store4>span{
        /* text-align: center; */
        padding-left:85px;
        font-size: 25px;
    }
    
    .store1>p,.store2>p,.store3>p,.store4>p{
        /* width:60%; */
        text-align: center;
        font-size: 20px;
    }
    


    .footer{
        display: flex;
        flex-direction: column;
        height: auto;

    }
    .footer>.div1,.footer>.div2,.footer>.div3{
        width:100%;
        row-gap:15px;
        text-align: center;
        font-size: 20px;
    }
}


@media (min-width:769px) and (max-width:1024px){
   
    .logo{
        justify-content: center;
        align-items: center;
    }
    *{
        overflow: visible;
    }
    .logo{
        width:100px;
    }
   
    .input-checkbox-toggler{
        display: none;
    }
    .ham-icon{
        display: block;
        font-size: 40px;
    }
    .ham-icon:hover{
        cursor: pointer;
    }
    #header{
        display: flex;
        width:100%;
        
    }
   
    .header-links{
        position: absolute;
        display: none;
        gap: 10px;
        align-items: center;
        top: 70px;
        left: 0px;
        width: 100%;
    }
    .input-checkbox-toggler:checked ~ .header-links{
        display: flex;
        gap: 10px;
        flex-direction: column;
        z-index: 1000 !important;
        background-color: rgba(172, 17, 147, 0.831);

        color: white;
    }
   
   
    
    
    .sub-heading{
        font-size: 50px;
    }
    .announcement{
        font-size: 20px;
    }
    .dresses{
        width:100%;
        padding:10px;
    }
    .dresses>.d1>p,.dresses>.d2>p,.dresses>.d3>p,.dresses>.d4>p{
        font-size: 20px;
        margin: 10px;
    }
    .collections>.shop{
        width:20%;
        /* padding:5px; */
    }
    .collections > .shop >img{
        width:250px;
        border-radius: 50%;

    }
    .shop>p{
        font-size: 20px;
    }





}
@media (min-width:1025px) and (max-width:1440px){
    #header{
        display: flex;
        justify-content: space-evenly;
        padding: 20px 20px;
        /* margin: 0px 20px; */
    }
    .input-checkbox-toggler{
        display: none;
    }
    .ham-icon{
        display: none;
    }
    /* #header{
        display: flex;
        position: relative;
        padding: 10px;
        
    }
    .header-links{
        position:absolute;
       display: none;
       gap:10px;
       align-items: center;
       top:100px;
       left:0px;
       color: white;
       width:100%;
       background-color: rgba(172, 17, 147, 0.831);

    }
    .ham-icon{
        display: block;
        font-size: 20px;
    }
    .input-checkbox-toggler:checked + .header-links{
        display: flex;
        flex-direction: column;
    } */
    .logo>img{
        width:170px;
        padding:20px;
    }
    .header-links>a{
        font-size: 1.2rem;
        margin-left: 0px;
        column-gap: 10px;
        /* font-weight: bold; */
    }
    .header-icons{
        font-size: 15px;
    }
    .announcement{
        font-size: 20px;
    }
    .sub-heading{
        margin-top: 20px;
    
    }
    .dresses{
        /* padding:10px; */
    }
    .heart1{
        color: white;
        bottom:400px;
        font-size: 20px;
        left:2px;
        
    }
    .new{
        left:0px;
        bottom:60px;
    }
    .collections{
        margin-top:50px;
        padding:100px;
    }
    .stores{
        padding:40px;
        margin: 0px;
        gap:0px;
    }
    .footer{
        justify-content: space-evenly;

    }
    .footer>.div1>p, .footer>.div2>p, .footer>.div3>p, .footer>.div4>p{
        /* justify-content: space-evenly; */
        font-size: 20px;

    }
}




